# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Environments
.venv/
venv/
uv.lock

# logs and wandb
**/logs/
wandb/*

# pytorch best model and experiments
best_model.pt
# the config.yaml you use for your experiments
#config.yaml

# Vim
**/*.swp
**/tags

# Slurm
logslurms

#debug
**/debug_test_output/

# Simulator
Simulator/simu_bact_random/
Simulator/simu_bact_liste/
Simulator/simu_spheres/
Simulator/biblio/
Simulator/wandb/
Simulator/**/*.npy
Simulator/wandb_api.txt

**/Results/